@use '../abstract/variaveis';
@use '../abstract/mixins';

.template-button {
   display: inline-block;
   border-radius: 0.2rem;
   background-color: variaveis.$cor-primaria;
   color: black;
   font-weight: bold;
   padding: 1rem 2rem;
}

.template-button.-play {
   &::before {
      @include mixins.icon-btn('\25BA', variaveis.$cor-primaria);
   }
}

.template-button.-info {
   background-color: rgba(102, 102, 103, 0.7);
   color: variaveis.$cor-primaria;
   &::before {
      @include mixins.icon-btn('\2139', variaveis.$cor-primaria);
      border-radius: 50%;
      color: rgba(71, 71, 71, 0.75);
   }
}

.template-button.-secondary {
   background: none;
   border: 1px solid variaveis.$cor-tercearia;
   color: variaveis.$cor-tercearia;
   font-weight: 400;
}